:root {
    --prim: rgb(184, 103, 11);
    --sec: #7e7e7e;
    --tert: olive;
    --textColor: #eaeae3;
    --headerFont: 'Luxurious Script';
    --textFont: 'Tangerine';
    /* --headerFont: 'Tangerine'; */
    /* font-family: 'Luxurious Script', cursive;
font-family: 'MonteCarlo', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Tangerine', cursive; */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #494d6a;
}

.home {
    background-image: url("/media/hall_of_presidents.jpg");
    background-position: center;
    background-position-y: 2rem;
    background-repeat: no-repeat;
}

.single {
    background-image: url("/media/hall_of_presidents.jpg");
    background-position: center;
    background-position-y: 5rem;
    background-repeat: no-repeat;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a:hover {
    color: var(--tert);
}

/* header */
.header {
    padding: 5px;
}

.h1 {
    padding-bottom: 5px;
    /* font-family: var(--headerFont); */
    color: var(--prim);
    font-size: calc(36px + (52 - 36) * ((100vw - 300px) / (1600 - 300) ));
    text-transform: uppercase;
}

.top-nav {
    position: fixed;
    top: 10px;
    right: 50px;
    width: 25%;
}

.top-nav a {
    margin: 10px 0;
    color: var(--textColor);
    text-decoration: none;
    transition: color 0.75s ease;
}

.top-nav a:hover {
    color: var(--tert);
}

/* home */
.portrait-col {
    position: relative;
}

.portrait-header-row {
    position: relative;
}

.home-header {
    /* margin-top: 80px; */
    /* font-family: var(--headerFont); */
    color: var(--sec);
    text-transform: capitalize;
}

.home-image {
    position: fixed;
    top: 280px;
    margin: 0 0 0 25px;
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.portrait-header {
    position: absolute;
    bottom: 0;
}

.figure-president {
    margin-bottom: 40px;
}

.president-image {
    border-radius: 50%;
}

.figcap-president {
    font-family: var(--headerFont);
    font-size: 42px;
    color: var(--textColor);
}

.figcap-term {
    font-size: 42px;
    font-family: var(--textFont);
    color: var(--textColor);
}

.img-single {
    min-width: 300px;
    border-radius: 50%;
}

.figure-single {
    margin-top: 300px;
}

.figcap-single {
    font-size: 42px;
    font-family: var(--textFont);
    color: var(--textColor);
}

.top-link {
    position: fixed;
    bottom: 20px;
}

.colophon {
    position: fixed;
    bottom: 10px;
}